/* for the absolutely positioned map to stretch out */

html, body, body>div, .layout {
    height: 100%;
}

/* account for the fixed navbar */
body {
    padding-top: 56px;
}

/* to open the aside, apply .asideOpen to .layout element */

$asideWidth: 25rem;
$insetWidth: -25rem;

.layout {
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

.page {
    margin: 0;
    transition: right .5s;
    position: relative;
    height: 100%;
    right: 0;
}

.aside {
    width: $asideWidth;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    right: $insetWidth;
    overflow: hidden;
    transition: right 0.5s;
    background: rgba(255, 255, 255, 0.5)
}

.loggedInView.asideOpen .page {
    right: $asideWidth;
}
.loggedInView.asideOpen .aside {
    width: $asideWidth;
    right:0;
}

/* chat */
.chatContainer {
    position: absolute;
    top: 30px;
    bottom: 0;
    right: 0;
    left: 0;
}

.chatForm {
    position: absolute;
    bottom:0;
    right:0;
    left:0;
}

.chatMessages {
    position: absolute;
    top: 56px;
    bottom:62px;
    left:0;
    right:0;
    overflow-y: scroll;
}


/* forms and validation */
.form-control.is-invalid, .was-validated .custom-select:invalid, .custom-select.is-invalid {
    border-left-width: 9px;
}

.was-validated .form-control:invalid ~ .invalid-feedback, .was-validated .form-control:invalid ~ .invalid-tooltip, .form-control.is-invalid ~ .invalid-feedback, .form-control.is-invalid ~ .invalid-tooltip, .was-validated .custom-select:invalid ~ .invalid-feedback, .was-validated .custom-select:invalid ~ .invalid-tooltip, .custom-select.is-invalid ~ .invalid-feedback, .custom-select.is-invalid ~ .invalid-tooltip {
    font-weight: 700;
}

/* model views */
.nav-link.disabled {
    opacity: 0.5;
    cursor: default;
}
