.messages {
  .messageView {
    tr td {
      @extend .lead;
      @extend .text-muted;
    }

    tr.isNew td {
      @extend .lead;
      color: #000 !important;
    }
  }

  table {

    th {
      font-weight: normal;
    }

    tr {
      cursor: pointer;
    }

    td {
      vertical-align: middle;
    }
  }
}