.requests {
  .responses {
    .delivered {
      // border: 1px solid green;
    }
  }
  .fulfilled {
    // border: 1px solid green;
  }

  .infographicsContainer {
    .iconImage {
      svg path {
        fill: 'orange';
      }
    }
  }

  .nav-link.disabled {
    opacity: 0.5;
    cursor: default;
  }

  table {

    tr {
      cursor: pointer;
    }

    td {
      vertical-align: middle;
    }

    .statusCell,
    .responsesCell {
      width: 150px;
    }
  }

  .iconContainer {
    background: #fff;
  }
}
